<div id="about">
<h2>CINCH Tool</h2>
<div id="cinch_image"><%= link_to image_tag("CINCH_workflow.png", alt: "Cinch workflow"), 'http://cinch.nclive.org/Cinch/CINCH_workflow.pdf' %></div>
<p>CINCH is a web-based, open source, lightweight tool that was designed to help   libraries, archives, and agencies with similar mandates  to collect
and authenticate digital content that is freely available on the web.</p>
<p>CINCH currently works with the following file types:</p>
<ul>
  <li>PDF</li>
  <li>Microsoft Word</li>
  <li>Microsoft Excel</li>
  <li>Microsoft PowerPoint</li>
  <li>Jpeg</li>
  <li>PNG</li>
  <li>Gif</li>
  <li>Text files (e.g. files with .txt or .csv extensions)</li>
</ul>
<p>CINCH <a href="CINCHdocumentation.pdf" target="_blank">documentation</a> and an
<%= link_to "FAQ", faq_path %> give more details about how CINCH works.</p>
<p>Anyone can install CINCH using the files available through <a href="http://slnc-dimp.github.com/Cinch/">GitHub</a>.
North Carolina Institutions can use a <%= link_to "hosted version", '#' %>.
<%= link_to "Contact us", contact_path %> for more details.</p>
</div>