body {
background: none repeat scroll 0 0 #EBF7F9;
}

h1, h1+p {
    text-align: center;
    padding-bottom: 10px
}

#mainwrap {
	margin: 2% 10%;
	padding: 2%;
	border: 1px solid gray;
	background-color: white;
	height: 100%;
	border-radius: 5px;
}

#mainmenu {
background: none repeat scroll left top #0C93B0;
/* background: url("bg.gif") repeat-x scroll left top white; */
}

#header {
border-top: none;
margin-top: -4px;
}

#mainmenu ul li a:hover, #mainmenu ul li.active a {
color: #0C93B0;
}

#cinch_image {
float: right;
position:relative;
padding-left: 15px;
}

#about {
    margin-bottom: 175px;
}

label { font-weight: bold; display: inline;}

#cinch_text {
padding-top: 10px;
}

#no_bullets  {
list-style-type:none;
}

form {
    background-color: #fff;
}

.reg_form {
    border: 2px solid #ccc;
    padding: 2%;
    width: 350px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    margin-left: 30%
}

.error_messages {
    border: 1px solid #ccc;
    padding-left: 15px;
    color: red;
    width: 300px;
    font-size: 1.1em;
    font-weight: bold;
}

.error_messages h2 {
    text-align: center;
    border-bottom: 1px solid #ccc;
    padding: 5px;
}

input[type="text"] {
    width: 300px;
    height: 25px;
}

textarea {
    width: 300px;
    height: 125px;
}

#foot {
    border-top: 1px solid #ccc;
    padding: 10px;
    margin: 10px 20px;
}

#foot ul {
    list-style-type: none;
}

#foot ul li {
    display: inline;
}