<!DOCTYPE html>
<html>
<head>
  <title>Cinch2</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<div id="mainwrap">
<%= yield %>
<div id="foot">
  <p>footer</p>
</div>
</div>
</body>
</html>
